*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

/*Main*/
.main{
  display: flex;
  height: 88vh;
  align-items: center;
  background-color: #222;
}
.col{
  flex-basis: 50%;
}
.col1{
  margin-left: 45px;
}
.col h2{
  font-size: 45px;
  color: #fff;
  font-weight: 600;
}
.col p{
  font-size: 20px;
  color: #555;
  font-weight: 500;
  margin-top: 20px;
}
.col button{
  margin-top: 30px;
}

.card{
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  height: 150px;
  margin: 10px 10px;
  padding: 15px 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .6s ease;
}
.card1{
  background-image: url(images/prop11.jpg);
}
.card2{
  background-image: url(images/prop12.jpg);
}
.card3{
  background-image: url(images/prop21.jpg);
}
.card4{
  background-image: url(images/prop22.jpg);
}
.card5{
  background-image: url(images/prop31.jpg);
}
.card6{
  background-image: url(images/prop33.jpg);
}
.card:hover{
  transform: translateY(-10px);
}

@media only screen and (max-width: 670px){
  .main{
    display: flex;
    flex-direction: column;
  }
  .col h2{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }
  .col p{
    font-size: 14px;
    color: #555;
    font-weight: 500;
    margin-top: 10px;
  }
  .col button{
    margin-top: 15px;
  }
  .card{
    margin-top: 20px;
    padding: 20px 20px;
  }
}